USE [master]
GO
/****** Object:  Database [FriendsForever]    Script Date: 2022-11-03 9:08:05 PM ******/
CREATE DATABASE [FriendsForever]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FriendsForever', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\FriendsForever.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FriendsForever_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\FriendsForever_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FriendsForever].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FriendsForever]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 2022-11-03 9:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FristName] [varchar](300) NOT NULL,
	[LastName] [varchar](300) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

INSERT [dbo].[UserDetails] ([ID], [FristName], [LastName], [Email], [Password]) VALUES (1, N'User1', N'User', N'User1@gmail.com', N'user1')
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
GO
USE [master]
GO
